{% extends 'base.html.twig' %}
{% block body %}
    <header>
        {{ include('admin/components/sidebar.html.twig') }}
    </header>
    <body class="">

    <main class="">
        {% block content %}

        {% endblock %}
    </main>

    </body>
{% endblock %}