 <!DOCTYPE html>
    <!--
     - ImunoVacin v. 1.0
     - Developer: Matheus Gomes
     - Enterprise: MG Desenvolvimento e marketing Digital
     - © {{ "now"|date("Y") }} ImunoVacin
     - All rights reserved
    -->
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#039588">
        <meta name="author" content="MG Desenvolvimento e marketing Digital">
        <script src="https://cdn.tailwindcss.com"></script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        {% block meta %}{% endblock %}
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
        <title>ImunoVacin</title>
    </head>
    {% block body %}{% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    </html>