<div class="bg-white py-24 sm:py-32">
    <div class="mx-auto grid max-w-7xl gap-y-20 gap-x-8 px-6 lg:px-8 xl:grid-cols-3">
        <div class="max-w-2xl">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Conheça Nosso Time</h2>
            <p class="mt-6 text-lg leading-8 text-gray-600">Contamos com uma equipe especializada para melhor atender você e sua família.</p>
        </div>
        <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2">
            <li>
                <div class="flex items-center gap-x-6">
                    <img class="h-16 w-16 rounded-full" src="https://imunovacin.com.br/wp-content/uploads/2022/02/Indaiatuba_Clinica_Infantil_Vacinas_Fernanda-150x150.png" alt="">
                    <div>
                        <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Fernanda Gomes</h3>
                        <p class="text-sm font-semibold leading-6 text-indigo-600">Diretora Técnica</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="flex items-center gap-x-6">
                    <img class="h-16 w-16 rounded-full" src="https://imunovacin.com.br/wp-content/uploads/2022/02/Indaiatuba_Clinica_Infantil_Vacinas_Marina-150x150.png" alt="">
                    <div>
                        <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Marina Girotto</h3>
                        <p class="text-sm font-semibold leading-6 text-indigo-600">Diretora Administrativa</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="flex items-center gap-x-6">
                    <img class="h-16 w-16 rounded-full" src="https://imunovacin.com.br/wp-content/uploads/2022/02/Indaiatuba_Clinica_Infantil_Vacinas_Antonio-150x150.png" alt="">
                    <div>
                        <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Antonio Carlos Girotto</h3>
                        <p class="text-sm font-semibold leading-6 text-indigo-600">Médico Responsavel</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="flex items-center gap-x-6">
                    <img class="h-16 w-16 rounded-full" src="https://imunovacin.com.br/wp-content/uploads/2022/02/Indaiatuba_Clinica_Infantil_Vacinas_Barbara-150x150.png" alt="">
                    <div>
                        <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Bárbara Leal</h3>
                        <p class="text-sm font-semibold leading-6 text-indigo-600">Enfermeira</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="flex items-center gap-x-6">
                    <img class="h-16 w-16 rounded-full" src="https://imunovacin.com.br/wp-content/uploads/2022/02/Indaiatuba_Clinica_Infantil_Vacinas_Lucicleide-150x150.png" alt="">
                    <div>
                        <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Lucileide</h3>
                        <p class="text-sm font-semibold leading-6 text-indigo-600">Equipe de Enfermagem</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="flex items-center gap-x-6">
                    <img class="h-16 w-16 rounded-full" src="https://imunovacin.com.br/wp-content/uploads/2022/02/Indaiatuba_Clinica_Infantil_Vacinas_Lohaine-150x150.png" alt="">
                    <div>
                        <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Lohaine</h3>
                        <p class="text-sm font-semibold leading-6 text-indigo-600">Equipe de Enfermagem</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="flex items-center gap-x-6">
                    <img class="h-16 w-16 rounded-full" src="https://imunovacin.com.br/wp-content/uploads/2022/02/Indaiatuba_Clinica_Infantil_Vacinas_Natalia-150x150.png" alt="">
                    <div>
                        <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Natália</h3>
                        <p class="text-sm font-semibold leading-6 text-indigo-600">Secretaria</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="flex items-center gap-x-6">
                    <img class="h-16 w-16 rounded-full" src="https://imunovacin.com.br/wp-content/uploads/2022/02/Indaiatuba_Clinica_Infantil_Vacinas_Cleia-150x150.png" alt="">
                    <div>
                        <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Cléia</h3>
                        <p class="text-sm font-semibold leading-6 text-indigo-600">Nossa "Mãezona"</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>