<div class="w-full bg-cover bg-center" style="height:32rem; background-image: url({{ asset('assets/banner.jpeg') }});">
    <div class="flex items-center justify-center h-full w-full bg-gray-900 bg-opacity-50">
    </div>
</div>