<section class="py-10 bg-white sm:py-16 lg:py-24">
    <div class="max-w-5xl px-4 mx-auto sm:px-6 lg:px-8">
        <div class="max-w-2xl mx-auto text-center">
            <h2 class="text-3xl font-bold leading-tight text-grey-700 sm:text-4xl lg:text-5xl">Perguntas & Respostas</h2>
            <p class="max-w-xl mx-auto mt-4 text-base leading-relaxed text-gray-400">Explore as perguntas e respostas comuns sobre a ImunoVacin</p>
        </div>

        <div class="grid grid-cols-1 mt-12 md:mt-20 md:grid-cols-2 gap-y-16 gap-x-20">
            <div class="flex items-start">
                <div class="flex items-center justify-center flex-shrink-0 w-8 h-8 bg-gray-700 rounded-full">
                    <span class="text-lg font-semibold text-white">?</span>
                </div>
                <div class="ml-4">
                    <p class="text-xl font-semibold text-grey-700">É permitido levar acompanhantes no atendimento?</p>
                    <p class="mt-4 text-base text-gray-400">Para que possamos respeitar os protocolos de segurança e distanciamento social nas nossas unidades, sugerimos 01 acompanhante apenas para: gestantes, crianças, pessoas com necessidades especiais e pacientes que irão realizar exames onde acompanhantes são indispensáveis (esses casos serão informados no momento do agendamento).</p>
                </div>
            </div>

            <div class="flex items-start">
                <div class="flex items-center justify-center flex-shrink-0 w-8 h-8 bg-gray-700 rounded-full">
                    <span class="text-lg font-semibold text-white">?</span>
                </div>
                <div class="ml-4">
                    <p class="text-xl font-semibold text-grey-700">Quais os tipos de Exames realizados?</p>
                    <p class="mt-4 text-base text-gray-400">Realizamos exames de análises clínicas e vacinas.</p>
                </div>
            </div>

            <div class="flex items-start">
                <div class="flex items-center justify-center flex-shrink-0 w-8 h-8 bg-gray-700 rounded-full">
                    <span class="text-lg font-semibold text-white">?</span>
                </div>
                <div class="ml-4">
                    <p class="text-xl font-semibold text-grey-700">Quanto tempo antes devo chegar na unidade?</p>
                    <p class="mt-4 text-base text-gray-400">Chegue com antecedência de 30 minutos do horário marcado em nossas unidades, para realizar os processos de recepção.</p>
                </div>
            </div>

            <div class="flex items-start">
                <div class="flex items-center justify-center flex-shrink-0 w-8 h-8 bg-gray-700 rounded-full">
                    <span class="text-lg font-semibold text-white">?</span>
                </div>
                <div class="ml-4">
                    <p class="text-xl font-semibold text-grey-700">Quais são as unidades e horário de funcionamento?</p>
                    <p class="mt-4 text-base text-gray-400">Segunda-feira a sexta-feira das 08:30 às 19:00 | Sábados das 09:00 às 14:00</p>
                </div>
            </div>
        </div>
    </div>
</section>
